/* DIN FONT STYLES by OluwatobiMayowa */

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('DINNextLTPro-Light.woff2') format('woff2'),
		url('DINNextLTPro-Light.woff') format('woff'),
		url('DINNextLTPro-Light.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('DINNextLTPro-Regular.woff2') format('woff2'),
		url('DINNextLTPro-Regular.woff') format('woff'),
		url('DINNextLTPro-Regular.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('DINNextLTPro-Medium.woff2') format('woff2'),
		url('DINNextLTPro-Medium.woff') format('woff'),
		url('DINNextLTPro-Medium.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'DIN Next LT Pro';
	src: url('DINNextLTPro-Bold.woff2') format('woff2'),
		url('DINNextLTPro-Bold.woff') format('woff'),
		url('DINNextLTPro-Bold.ttf') format('truetype');
	font-weight: 400;
}