@font-face {
    font-family: 'Patron';
    src: url('Patron-ThinItalic.eot');
    src: url('Patron-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Patron-ThinItalic.woff2') format('woff2'),
        url('Patron-ThinItalic.woff') format('woff'),
        url('Patron-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-Thin.eot');
    src: url('Patron-Thin.eot?#iefix') format('embedded-opentype'),
        url('Patron-Thin.woff2') format('woff2'),
        url('Patron-Thin.woff') format('woff'),
        url('Patron-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-Light.eot');
    src: url('Patron-Light.eot?#iefix') format('embedded-opentype'),
        url('Patron-Light.woff2') format('woff2'),
        url('Patron-Light.woff') format('woff'),
        url('Patron-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Patron';
    src: url('Patron-Bold.eot');
    src: url('Patron-Bold.eot?#iefix') format('embedded-opentype'),
        url('Patron-Bold.woff2') format('woff2'),
        url('Patron-Bold.woff') format('woff'),
        url('Patron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-LightItalic.eot');
    src: url('Patron-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Patron-LightItalic.woff2') format('woff2'),
        url('Patron-LightItalic.woff') format('woff'),
        url('Patron-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}



@font-face {
    font-family: 'Patron';
    src: url('Patron-BoldItalic.eot');
    src: url('Patron-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Patron-BoldItalic.woff2') format('woff2'),
        url('Patron-BoldItalic.woff') format('woff'),
        url('Patron-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-Black.eot');
    src: url('Patron-Black.eot?#iefix') format('embedded-opentype'),
        url('Patron-Black.woff2') format('woff2'),
        url('Patron-Black.woff') format('woff'),
        url('Patron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Patron';
    src: url('Patron-BlackItalic.eot');
    src: url('Patron-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Patron-BlackItalic.woff2') format('woff2'),
        url('Patron-BlackItalic.woff') format('woff'),
        url('Patron-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-Medium.eot');
    src: url('Patron-Medium.eot?#iefix') format('embedded-opentype'),
        url('Patron-Medium.woff2') format('woff2'),
        url('Patron-Medium.woff') format('woff'),
        url('Patron-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Patron';
    src: url('Patron-MediumItalic.eot');
    src: url('Patron-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Patron-MediumItalic.woff2') format('woff2'),
        url('Patron-MediumItalic.woff') format('woff'),
        url('Patron-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}



@font-face {
    font-family: 'Patron';
    src: url('Patron-Regular.eot');
    src: url('Patron-Regular.eot?#iefix') format('embedded-opentype'),
        url('Patron-Regular.woff2') format('woff2'),
        url('Patron-Regular.woff') format('woff'),
        url('Patron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url('Patron-Italic.eot');
    src: url('Patron-Italic.eot?#iefix') format('embedded-opentype'),
        url('Patron-Italic.woff2') format('woff2'),
        url('Patron-Italic.woff') format('woff'),
        url('Patron-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


