.App {
  text-align: center;
}
.rp-hotspots-holder {
  position: relative;
  width: 100%;
  height: inherit;
}
.hotspot--modal {
  height: 300px;
  position: absolute;
  width: 300px;
  bottom: 400%;
  background-color: white;
  opacity: 0.8;
  padding: 10px;
}
.hotspot--image {
  height: 150px;
  display: block;
  background-size: 100%;
}
.hotspot--description {
  display: block;
  overflow: hidden;
  line-height: 1.5;
  max-height: 40%;
  padding-top: 10px;
}
.hotspot--pointer {
  transform: rotate(45deg);
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: -7px;
  background-color: white;
  left: 3px;
}
.rp-progress-hotspot {
  background: red;
  height: inherit;
  z-index: 100;
  position: absolute;
  top: 0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}
#player {
  margin: 40px auto 0;
  padding: 0;
  width: 640px;
  height: auto;
}
.rp-container {
  margin: 0;
  padding: 0;
  position: relative;
}
.rp-video {
  width: 100%;
  height: auto;
  display: block;
}
.rp-video::-webkit-media-controls {
  display: none !important;
}
.rp-overlay {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
}
.rp-idle {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 54px;
}
.rp-toolbar {
  margin: 0;
  padding: 0;
  padding: 0 10px;
  background: transparent;
  position: absolute;
  opacity: 1;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3s ease;
}
.rp-toolbar .rp-gradient {
  width: 100%;
  height: 76px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.8))
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.rp-toolbar .rp-controls {
  margin: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
}
.rp-progress {
  width: 100%;
  height: 0.25rem;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: pointer;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
}
.rp-progress .rp-progress-bar,
.rp-progress .rp-progress-buffer {
  height: 100%;
  position: absolute;
}
.rp-progress .rp-progress-bar {
  background: #f1c40f;
  z-index: 101;
}
.rp-progress .rp-progress-bar .rp-progress-scrub {
  width: 0;
  height: 0;
  position: absolute;
  background: white;
  border-radius: 50%;
  right: 0;
  top: 0.125rem;
  z-index: 102;
  transform: scale(0);
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  -webkit-transition: all 0.3s ease;
}
.rp-progress .rp-progress-buffer {
  background: rgba(255, 255, 255, 0.6);
  z-index: 100;
}
.rp-progress:hover {
  height: 0.375rem;
}
.rp-progress:hover .rp-progress-bar {
  background: #cba50c;
}
.rp-progress:hover .rp-progress-bar .rp-progress-scrub {
  width: 1rem;
  height: 1rem;
  right: -0.5rem;
  top: -0.375rem;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.rp-icon {
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: middle;
}
.rp-controls .rp-control {
  height: auto;
  margin: 0;
  padding: 0.75rem;
  background: transparent;
  position: relative;
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5em;
  color: white;
  border: 0;
}
.rp-volume {
  width: 3em;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.rp-volume .rp-volume-slider {
  margin: 0;
  padding-left: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.rp-volume:hover {
  width: 7.625em;
}
.rp-volume:hover .rp-volume-slider {
  opacity: 1;
}
.rp-volume-slider input[type="range"] {
  width: 4rem;
  height: 0.25rem;
  background: #f1c40f;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
.rp-volume-slider input[type="range"]::-webkit-slider-thumb {
  width: 0.25rem;
  height: 1rem;
  opacity: 1;
  background: #fff;
  -webkit-appearance: none;
}
.rp-timer {
  display: flex;
  align-items: center;
  flex: auto;
}
.rp-timer .rp-control {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  color: white;
}
