body {
  margin: 0;
  padding: 0;
  font-family: "Patron", "Din Next", system-ui;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "Din Next";
  src: url(../assets/fonts/DINNextLTPro-Bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: "Din Next";
  src: url(../assets/fonts/DINNextLTPro-Light.woff);
  font-weight: lighter;
}
@font-face {
  font-family: "Din Next";
  src: url(../assets/fonts/DINNextLTPro-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Din Next";
  src: url(../assets/fonts/DINNextLTPro-Regular.woff);
}

@font-face {
  font-family: "Patron";
  src: url(../assets/fonts/Patron-Bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: "Patron";
  src: url(../assets/fonts/Patron-Light.woff);
  font-weight: lighter;
}

@font-face {
  font-family: "Patron";
  src: url(../assets/fonts/Patron-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Patron";
  src: url(../assets/fonts/Patron-Light.woff);
}
